.font{
	font-weight: 500;
}
.btn{
	margin-right: 60px;
}
section{
	background: url(img3.jpg) no-repeat center center/cover;
	height: 70vh;

}
.inside{
	color: white;

}

.bi p{
    margin-left: 28px;
    margin-top: -25px;
        font-style: italic;

}



.wapper {
    /*border: 1px solid grey;*/
/*    position: absolute;*/
/*    white-space: 80vw;*/
/*    transform: translate(-50%, -50%);*/
/*    top: 50%;*/
/*    left: 50%;*/
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.opp {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    font-size: 16px;
    background-color:white;
}
.span.num {
    color: white;
/*    display: grid;*/
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 85vw;
    }

    .opp {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}
@media screen and(max-width: 480px) {
    .wrapper {
        gap: 15px;
    }

    .opp {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .opp {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}
.boat{
	font-size: 32px;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 15px;
    background: #ecf9f0;
    border-radius: 50px;
}
.www h1{
	font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.www{
	padding: 30px;
    background: #5fcf80;
    border-radius: 4px;
    color: #fff;
}
.iiii{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:15px;
}
.iii  li{
	list-style: none;

}
.ii  li{
	list-style: none;

}

.ii{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;

}
.iii{
/*	margin: 10px -15px;*/

}
.iiii:hover{
	border: 1px solid green;
	padding: 15 10px;
	color: green;
}
.jjj{
	color: orange;
	padding-right: 10px;

}
.rssw{
	display: flex;
	justify-content: space-between;
}
.blue{
	color: blue;
	padding-right: 10px;
}
.pink{
	color: #e80368;
	padding-right: 10px;
}
.merun{
	color: #e361ff;
	padding-right: 10px;
}
.padding{
	text-align: center;
	border: 1px solid lightgrey;
	padding: 15px;
	
}

.qqq li{
	list-style: none;
}
.qqq{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;
	margin-right: -11Px;
}
.qqq:hover{
	border: 1px solid green;
	padding: 15px 10px;
	color: green;

}
.aa li{
	list-style: none;
}
.aa{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;
	margin-left: 28px;
	margin-right: -11px;
}
.aa:hover{
	border: 1px solid green;
	padding: 15px 10px;
	color: green;
}




.ss li{
	list-style: none;
}
.ss{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;
	margin-left: 28px;
	margin-right: -11px;
}
.ss:hover{
	border: 1px solid green;
	padding: 15px 10px;
	color: green;
}

.dd{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;
	margin-left: 28px;
	margin-right: -11px;
}
.dd:hover{
	border: 1px solid green;
	padding: 15px 10px;
	color: green;
}




.dd li{
	list-style: none;
}
.vvv li{
	list-style: none;
}
.vvv{
	font-size: 20px;
	text-align: center;
	border: 1px solid lightgrey;
	padding:20px 25px;
	margin-left: 1px;
	margin-right: -12px;
}
.mm{
	padding-right: 10px;
	color: deepskyblue;
}
.ll{
	padding-right: 10px;
	color: skyblue;
}
.tt{
	color: brown;
	padding-right: 10px;
}
.kk{
	color:deeppink;
	padding-right: 10px;
}
.qq{
	color:mediumspringgreen;
	padding-right: 10px;
}
.zz{
	color:greenyellow;
	padding-right: 10px;
}
.vvv:hover{
	border: 1px solid green;
	padding: 15px 10px;
	color: green;
}
hr{
	 margin-left: 99px;
    margin-top: -18px;
    width: 11%;

}
/*hr:after {
        content: "";
        display: block;
        width: 150px;
        height: 5px;
        background: #CD5C5C;
        right: 85px;
        top: 50%;
        position: absolute;
      }*/
        hr {
        color: green;
       height: 30px;
       font-weight: bold;

      }
.abc{
	font-weight:bold;
}

.x{
	font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    width: 47%;
    
}
.z{
	    margin-left: 297px;
    margin-top: -37px;
}
.y{

	font-size: 17px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    width: 30%
}
.ll{
	color: black;
	cursor: pointer;
	font-family: "Raleway", sans-serif;
}
 h4:hover{
 color:#5fcf80;
}
.q{
	padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
i{
	color: #aaaaaa;
	font-size: 18px;

}
i:hover{
	color:#5fcf80;
}
.e{
	padding-left: 5px;
}
h4{
	font-family: "Raleway", sans-serif;
}
.footer{
margin-top: 80px;
color: #37423B;
height: 230px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:#5fcf80 ;
}
h5{
	font-family: "Raleway", sans-serif;
}
.v{
	margin-left: 93px;
    margin-top: -21px;
}
.n{
	    margin-left: 153px;
        margin-top: -27px;
}
.a{
	cursor: pointer;
	color: green;
	    margin-left: 96px;
    margin-top: -39px;
}
.eo{
	background-color:#5fcf80  ;
	width: 70%;
}
.s{
	margin-left: 258px;
    margin-top: -32px;
}
.sa{
	width: 30%;
	background-color: #5fcf80 ;
}
.se{
	width:32% ;
	background-color:#5fcf80 ;
}
.m{
	margin-left: 400px;
}
.mk{
	margin-left: 500px;
}



body{
	overflow-x: hidden;
}